# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

*.exe
*.test
*.prof

*~
/reports
output.json

.idea/

antha/examples/**/*_plateformat.jpg
antha/examples/**/*_test.xlsx
antha/examples/**/*_gelouput.csv
